.chat-container {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.chat-header {
  border-bottom: 1px solid gray;
}

.chat-conversations {
  flex-grow: 1;
  padding: 16px 0;
  overflow: scroll;
}

.chat-input {
  display: block;
}
